<app-nav-menu></app-nav-menu>

<div class="container-fluid">
    <div class="row">

        <nav id="sidebarMenu"
            class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
            style="">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active"
                            (click)="onMenuClick('/Normas')">
                            <span>Gestão de Normas <span class="sr-only">(current)</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            (click)="onMenuClick('/Normas/Normas')">
                            <span>Normas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            (click)="onMenuClick('/Normas/Repositorios')">
                            <span>Repositórios</span>
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Módulos</span>
                </h6>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link modulos"
                            (click)="onMenuClick('/Consultorias')">
                            <app-icon Title="Assessorias e Consultorias"
                                ClassIcon="fa fa-briefcase"></app-icon>
                            <span>Assessorias e Consultorias</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link modulos"
                            (click)="onMenuClick('/GestaoProcessoIndustrial')">
                            <app-icon Title="Gestão do Proceso Industrial"
                                ClassIcon="fa fa-dashboard"></app-icon>
                            <span>Gestão do Proceso Industrial</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Gestão de Normas</h1>
            </div>

            <div class="row h-100 justify-content-center align-items-center">
                <app-card-normas-home Title="Repositórios"
                    Descricao="Repositórios de Normas disponíveis no SIGO"
                    ActionText="{{quantRepositorios}} Repositório(s)"
                    Image="../../../../../../assets/repositorio_normas.png"
                    Value="/Normas/Repositorios" (ActionClicked)="onMenuClick($event)">
                </app-card-normas-home>
                <app-card-normas-home Title="Normas"
                    Descricao="Normas disponíveis no SIGO"
                    ActionText="Acervo de {{quantNormas}} Norma(s)"
                    Image="../../../../../../assets/documento_normas.png"
                    Value="/Normas/Normas" (ActionClicked)="onMenuClick($event)">
                </app-card-normas-home>
            </div>
        </main>

    </div>
</div>
