<app-nav-menu></app-nav-menu>

<div class="container-fluid">
    <div class="row">

        <nav id="sidebarMenu"
            class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
            style="">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link"
                            (click)="onMenuClick('/Normas')">
                            <span>Gestão de Normas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            (click)="onMenuClick('/Normas/Normas')">
                            <span>Normas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            (click)="onMenuClick('/Normas/Repositorios')">
                            <span>Repositórios</span>
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Módulos</span>
                </h6>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link modulos"
                            (click)="onMenuClick('/Consultorias')">
                            <app-icon Title="Assessorias e Consultorias"
                                ClassIcon="fa fa-briefcase"></app-icon>
                            <span>Assessorias e Consultorias</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link modulos"
                            (click)="onMenuClick('/GestaoProcessoIndustrial')">
                            <app-icon Title="Gestão do Proceso Industrial"
                                ClassIcon="fa fa-dashboard"></app-icon>
                            <span>Gestão do Proceso Industrial</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Gestão de Normas</h1>
            </div>

            <h2 class="h3">Norma: {{norma.nome}}</h2>

            <form>
                <div class="form-group">
                    <label for="nome"><b>Título</b></label>
                    <input class="form-control"
                        value="{{norma.nome}}"
                        readonly />
                </div>
                <div class="form-group">
                    <label for="descricao"><b>Descrição</b></label>
                    <input class="form-control"
                        value="{{norma.descricao}}"
                        readonly />
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="nomeArquivo"><b>Arquivo</b></label>
                        <input class="form-control"
                            value="{{norma.nomeArquivo}}"
                            readonly />
                    </div>
                    <div class="col-sm-6">
                        <label>Download</label><br>
                        <a href="{{norma.nomeArquivo}}" target="_blank">
                            <i class="fa fa-book"></i> {{norma.nomeArquivo}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="tipo"><b>Tipo</b></label>
                        <input class="form-control"
                            value="{{norma.tipo}}"
                            readonly />
                    </div>
                    <div class="col-sm-6">
                        <label for="status"><b>Status</b></label>
                        <input class="form-control"
                            value="{{norma.status}}"
                            readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="dataCriacao"><b>Data de Cadastro</b></label>
                        <input class="form-control"
                            value='{{norma.dataCriacao  | date:"dd/MM/yyyy"}}'
                            readonly />
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="dataAtualizacao"><b>Data de Atualização</b></label>
                        <input class="form-control"
                            value='{{norma.dataAtualizacao  | date:"dd/MM/yyyy" }}'
                            readonly />
                    </div>
                </div>
            </form>

        </main>

    </div>
</div>
